:root {
    --ff-sans: "Inter", sans-serif;
    --ff-mono: "Fragment Mono", monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-sans);

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
}

button {
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: 1px solid currentColor;
    cursor: pointer;
    background-color: transparent;
}

a,
button,
input {
    font-family: inherit;
}

.card {
    --border-radius: 8px;
    border-radius: var(--border-radius);
    padding: 1rem;
    box-shadow: 0px 0px 24px black;
    width: clamp(20rem, 25vw, 30rem);
    cursor: pointer;
    /* For the pseudo-elements */
    position: relative;
}

/* Background */
.card::before {
    content: "";
    inset: 0;
    position: absolute;
    background-color: currentColor;
    opacity: 5%;
    border-radius: var(--border-radius);
    pointer-events: none;
}

/* Stroke */
.card::after {
    content: "";
    inset: 0;
    position: absolute;
    outline-offset: 2px;
    outline: 1px solid currentColor;
    opacity: 20%;
    border-radius: var(--border-radius);
    pointer-events: none;
    /* Add mouse hover interaction to outline here */
}

.card__title {
    font-size: clamp(1rem, 4vmin, 1.75rem);
    margin-bottom: 0.5rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
}

.card__body {
    font-size: clamp(0.85rem, 2vmin, 1rem);
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    font-family: var(--ff-mono);
    line-clamp: 4;
}

.label {
    font-family: var(--ff-mono);
    font-size: clamp(0.5rem, 1.5vmin, 0.85rem);
    border: 1px solid currentColor;
    display: inline;
    padding: 0.5rem 0.75rem;
    border-radius: 1rem;
    white-space: nowrap;
    margin-right: 0.5rem;
}

.card__labels {
    margin-bottom: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
    padding-block: 0.5rem;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: clamp(10rem, 80vw, 100rem);
    justify-content: center;
}

nav {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    text-align: right;
}

nav .btnContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: end;
    margin-top: 1rem;
}

nav button {
    width: 3rem;
    height: 3rem;
    padding: unset;
}

.overlay {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(0.5rem);
}

/* Background */
.overlay::before {
    content: "";
    position: fixed;
    inset: 0;
    background: currentColor;
    pointer-events: none;
    filter: invert(1);
    opacity: 0.75;
}

.overlay dialog {
    --border-radius: 16px;
    padding: 1rem;
    border-radius: var(--border-radius);
    border: none;
    width: clamp(10rem, 60vw, 70rem);
    justify-self: center;
    position: relative;
}

/* Stroke */
.overlay dialog::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    outline: 2px solid currentColor;
    outline-offset: 1px;
    opacity: 10%;
    border-radius: var(--border-radius);
}

.issue__title {
    font-size: clamp(1.5rem, 3vmin, 2.5rem);
    margin-bottom: 1rem;
}

.issue__bodyContainer {
    margin-bottom: 1rem;
    max-height: 80vh;
    overflow-y: auto;
    outline: none;
}

.issue__bodyContainer * {
    font-family: var(--ff-mono);
    margin-right: 1rem;
}

.issue__bodyContainer h1 {
    margin-bottom: 0.5rem;
    margin-top: 0.75rem;
}

.issue__bodyContainer h2 {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.issue__bodyContainer h3 {
    margin-bottom: 0.25rem;
    margin-top: 0.5rem;
}

.issue__bodyContainer p {
    margin-bottom: 0.5rem;
    margin-top: 0.25rem;
    line-height: 140%;
}

.issue__bodyContainer ul, ol {
    margin-left: 2rem;
    margin-bottom: 1rem;
    line-height: 160%;
}

.issue__bodyContainer hr {
    margin-block: 1rem;
}

.issue__button {
    width: 100%;
}