.card {
  --border-radius: 8px;
  border-radius: var(--border-radius);
  padding: 1rem;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
  width: 30vw;
  height: calc(100vh - 4rem);
  display: flex;
  gap: 1rem;
  flex-direction: column;
  /* For the pseudo-elements */
  position: relative;

  /* ensure children can shrink properly and hide any accidental overflow */
  min-height: 0;
  overflow: hidden;
}

/* Background */
.card::before {
  content: '';
  inset: 0;
  position: absolute;
  background-color: currentColor;
  filter: invert(1);
  z-index: -1;
  /* opacity: 5%; */
  border-radius: var(--border-radius);
  pointer-events: none;
}

/* Stroke */
.card::after {
  content: '';
  inset: 0;
  position: absolute;
  outline-offset: 2px;
  outline: 1px solid currentColor;
  opacity: 20%;
  border-radius: var(--border-radius);
  pointer-events: none;
  /* Add mouse hover interaction to outline here */
}

.card__title {
  font-size: clamp(2rem, 4vmin, 2.5rem);
  margin-bottom: 0.5rem;
}

.card__bodyContainer {
  --border-radius: 8px;
  padding: 1rem;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
}

/* Background */
.card__bodyContainer::before {
  content: '';
  position: absolute;
  z-index: 0;
  background-color: currentColor;
  opacity: 0.1;
  inset: 0;
  border-radius: var(--border-radius);
  pointer-events: none;
}

.card__body {
  position: relative;
  z-index: 1;
  flex: 1 1 auto;
  overflow-y: auto;
  min-height: 0;
  font-family: var(--ff-mono);
}

.card__body * {
  text-wrap: wrap;
  font-family: inherit;
}

.card__body ul,
.card__body ol {
  padding-left: 2rem;
}

.card__buttonContainer {
  display: flex;
  gap: 0.5rem;
}

.card__buttonContainer > * {
  flex-grow: 1;
}

.label {
  font-family: var(--ff-mono);
  font-size: clamp(0.5rem, 1.5vmin, 0.85rem);
  border: 1px solid currentColor;
  display: inline;
  padding: 0.5rem 0.75rem;
  border-radius: 1rem;
  white-space: nowrap;
  margin-right: 0.5rem;
}

.card__labels {
  margin-top: 0.75rem;
  margin-bottom: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
  padding-block: 0.5rem;
}
